<h2 mat-dialog-title>How to export your character from another server</h2>
<mat-dialog-content class="mat-typography">
  <h3>Instructions</h3>
        <mat-list>
          <mat-list-item>1.) Download and install our Character Profiler addon for the version of the game you wish to export a character from. The addon can be downloaded from <a style="color:white;text-decoration: none;border-style: none;" href="https://drive.google.com/uc?export=download&id=1557Ft0B7gIxZRRb_q1skbNniPFQAlihR" target="_blank">&nbsp;here</a> </mat-list-item>
          <mat-list-item>2.) Log in to the server and ensure that the addon is enabled, you may have to check 'Load out of date Addons' </mat-list-item>
          <mat-list-item>3.) Enter World with the character you want to import </mat-list-item>
          <mat-list-item>4.) Type &nbsp; <code>/cp purge all</code> &nbsp; to make sure you have no dangling profiles </mat-list-item>
          <mat-list-item>5.) Type &nbsp; <code>/cp export</code> &nbsp; to begin capturing a snapshot of your character </mat-list-item>
          <mat-list-item>6.) Open your bank and open all bags </mat-list-item>
          <mat-list-item>7.) Type &nbsp; <code>/cp export</code> &nbsp; again to capture a bank snapshot </mat-list-item>
          <mat-list-item>8.) Log out </mat-list-item>
          <mat-list-item>9.) Your character profile will be available in [Wow Directory]/WTF/Account/[accountname]/SavedVariables/CharacterProfiler.lua </mat-list-item>
          <mat-list-item>10.) Upload the CharacterProfiler.lua file and all exported Rare, Epic and Legendary items will be mailed to your character of choice </mat-list-item>
         </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>
