<br />
<mat-card class="news-card">
  <mat-card-header>
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-subtitle>A quick introduction to the project</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4a9914e3-984d-42a7-8b8c-1e85a96ac343/d1b95mm-0d767776-a30c-4cdd-91ba-18e97552168e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNGE5OTE0ZTMtOTg0ZC00MmE3LThiOGMtMWU4NWE5NmFjMzQzXC9kMWI5NW1tLTBkNzY3Nzc2LWEzMGMtNGNkZC05MWJhLTE4ZTk3NTUyMTY4ZS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.lmC7A0ZxI3rOw8iS2Fd-uMpFK8YfGrY2D5SjHujpbyA" class="news-card-image">
  <mat-card-content>
    <p>
      LFR is a server focused on deliver the Wrath of the Lich King experience in the form of 5man content. To achieve this, we’re spending the time to redevelop certain fights to work with the smaller group size and balancing each fight individually for the ultimate experience. We are also developing additional game systems to improve the 5man experience, including healers being able to dispel every type of affliction in a raid and tokens dropping only for classes in your group.
    </p>
    <p>
      LFR will be operating a progressive model releasing content chronologically, we will also be combining this with a progression system requiring previous tiers be cleared before being able to enter the next tier.
      Each raid tier will be accompanied by a harder version of the 25man mode with bosses having additional mechanics and tuned for additional difficulty. An example of this is our development on the Heigan the Unclean encounter; during the encounter he will cast random slow on targets that require dispelling.
    </p>
    <p>
      We hope this brief introduction gives you an insight into what we are trying to deliver with this project and the direction the project will be heading in as it develops.
      On behalf of everyone at LFR, we want to welcome you to the project. We are excited to start this journey alongside with you!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon>thumb_up</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<br />
