<div *ngIf="isDesktop();else mobile">
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title>Death Knight</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              General
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Casting Raise Ally inside a raid will revive the player with 6400 health and 4700 mana</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Casting Raise Ally inside a raid will debuff the raid with Ghostly</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Can not cast Raise Ally inside a raid if you have Ghostly debuff</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Blood
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Dark Command is treated like a melee spell when performing hit calculations</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  </div>
  <ng-template #mobile>
    <h1>Death Knight</h1>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            General
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Casting Raise Ally inside a raid will revive the player with 6400 health and 4700 mana</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Casting Raise Ally inside a raid will debuff the raid with Ghostly</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Can not cast Raise Ally inside a raid if you have Ghostly debuff</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Blood
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Dark Command is treated like a melee spell when performing hit calculations</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
