.footer {
  background: #1a1a1c;
  border-top: 1px #00cbcc solid;
}

.footer-image {
  margin-left: 20vw;
  height: 5vh;
  cursor: pointer;
}

.footer-icons {
  margin-left: 40vw;
}

.footer-icon {
  margin-right: 0.5vw;
  cursor: pointer;
}
