<div *ngIf="isDesktop();else mobile">
  <br />
  <mat-card class="wiki-general-card">
    <mat-card-header>
      <mat-card-title>Naxxramas</mat-card-title>
      <mat-card-subtitle>Naxxramas changes that have been made to the server. If boss is not listed assume the only changes are to scaling</mat-card-subtitle>
    </mat-card-header>
    <mat-tab-group animationDuration="1000ms" mat-align-tabs="center">
      <mat-card-content>
      <mat-tab label="10-man">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                General
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>You can not enter Sapphiron's lair without clearing all four quarters</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Thaddius
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Feugen and Stalagg will only move if players are on their platform</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Magnetic pull will move a whole group over to the opposite platform at a time</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>When either Feugen or Stalagg are killed the group will have Magnetic Pull cast on them if the oppsit creature is alive</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Four Horsemen
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Baron Rivendare & Lady Blaumeux will engage when the encounter starts</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Thane Korth'azz will engage once Baron Rivendare is killed</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Sir Zeliek will engage once Lady Blaumeux is killed</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>The range on marks has been reduced to 44yds</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>The tank tanking Baron Rivendare or Thane Korth'azz will receive 75% damage reduction from marks</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Gothik the Harvester
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>A portal will spawn in either side of the gate that only healers can use to transport between sides</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Trainee's cast Arcane Bolt.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Death Knight's cast Empowered Shadowbolt, jumping to two additional nearby targets.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Rider cast Shadow Lance on random targets.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Horse will fixate on a random player and chase them, changing targets every 30seconds.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Maexxna
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Web wrap will not target the healer</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Loatheb
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spore will only apply Fungal Bloom to the nearest 1 player</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Patchwerk
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Hateful Strike will target any non-tank players in melee range and do 85% reduced damage. If there is no non-tank players in melee range Hateful Strike will target the tank for 100% damage</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Gluth
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Zombie Chow move at 70% reduced movement speed, stacks with other movement speed reducing debuffs</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Mortal Wound will only stack to 5stacks before dropping off</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Noth the Plaguebringer
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Each wave of adds during the platform phase is a completely random combination</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Sapphiron
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Icebolt will not be cast on healers</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Life drain will be cast on 2 players</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Healing affect of Life Drain increased by 30%</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab label="25-man">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Anub'rekhan
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>During each Locust Swarm 5 Crypt Guard Bats will join the fights</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Crypt Guard Bats will drop plague on random players</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>The Crypt Guard due to spawn during Locust Swarm will spawn at the end of the Locust Swarm</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Corpse Scarabs can spawn from Crypt Guard Bats corpses</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Grand Widow Faerlina
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>When Faerlina enrages she will also enrage one of her disciples.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>When a Disciple is enraged their health will be set back to 100% and they will cast Fireball Volley</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Killing the enraged Disciple will trigger Widows Embrace</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Killing a Disciple not enraged will cause Faerlina to enrage</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Maexxna
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>When killing a normal web wrap a Premature Spiderling with 20% HP remaining will spawn and run to Maexxna.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>If a Premature Spiderling reaches Maexxna she will gain the % of health remaining on the spiderling.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Every 25% Maexxna will cast web wrap on the healer, killing this web wrap will not spawn a Premature Spiderling</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Maexxna enrages at 25%, down from 30%</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Maexxna's enrage increases her damage by 50%, down from 75%</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Maexxna's enrage does not initially increase her haste, or scale</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Once Maexxna is enraged her haste is increased by 1% every 2 seconds, and scale by 0.14 every 2seconds</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Noth the Plaguebringer
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Throughout the fight an enraged zombie will spawn, focusing and rooting a random target. If the Zombie reaches its target it will cast corpse explosion dealing damage to all nearby players.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Heigan the Unclean
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>During normal phase clouds will spawn around the room.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>If you run into a cloud you will receive a debuff reducing movement speed by 70% that will degrade over time.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Loatheb
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Necrotic aura will now be up 100% of the time, if not removed by a Healthy Spore</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>6 Seconds after refreshing Necrotic Aura a Healthy Spore will spawn. Killing this spore will remove Necrotic Aura from anyone close to the spore.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Patchwerk
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Patchwerk will cast Grievous Throw on the target furthest away from him. The player must be healed to full to remove the debuff.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Grobbulus
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Clouds will spawn on top of Grobbulus every 10seconds, down from 15seconds</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Fallout slime will cast acid spray on the raid while it is alive.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Gluth
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>One DPS will always be affected by Flesh Rip debuff.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Zombie Chow will chase the player affected by Flesh Rip, unless affected by Decimate.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Mortal Wound stacks to a maximum of 6 stacks.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Thaddius
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Stalagg, Feugen and Thaddius will all become overloaded throughout the fight. This will cause them to crackle visually and then cast Electrical Overload.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>The damage of Electrical Overload is multiplied by the number of polarity stacks a player has.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Instructor Razuvious
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>After using an Obedience Crystal, Mind Exhaustion debuff is applied preventing use of the Obedience Crystal again until the debuff has expired.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Gothik the Harvester
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Amount of creatures per wave reduced drastically.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Living Trainee's will cast Greater Heal on the lowest nearby friendly target.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Trainees will cast Spell Shield on nearby Spectral Death Knights, or Spectral Riders. This ability will make the target immune to interrupt, silence and stun until removed.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Death Knights cast Shadow Barrage dealing critical raid damage to both sides of the room, this can be interrupted.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Riders will cast Mind Rend on the healer, stunning the healer, this can be interrupted.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Horse will charge random targets knocking them back.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Four Horseman
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Each Horseman will use Bone Armour at 50% and 20% reducing the damage they take by 75%.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>When Baron Rivendare is killed his spirit will spawn, the spirit will not attack, but continue to cast Unholy Shadow on the tank.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>When Lady Blaumeux is killed her spirit will spawn, the spirit will not attack, but continue to cast Void Zone randomly on peoplek.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      </mat-card-content>
    </mat-tab-group>
  </mat-card>
  </div>
  <ng-template #mobile>
    <h1>Naxxramas</h1>
    <mat-tab-group animationDuration="1000ms" mat-align-tabs="center">
      <mat-tab label="10-man">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                General
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>You can not enter Sapphiron's lair without clearing all four quarters</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Thaddius
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Feugen and Stalagg will only move if players are on their platform</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Magnetic pull will move a whole group over to the opposite platform at a time</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>When either Feugen or Stalagg are killed the group will have Magnetic Pull cast on them if the oppsit creature is alive</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Four Horsemen
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Baron Rivendare & Lady Blaumeux will engage when the encounter starts</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Thane Korth'azz will engage once Baron Rivendare is killed</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Sir Zeliek will engage once Lady Blaumeux is killed</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>The range on marks has been reduced to 44yds</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>The tank tanking Baron Rivendare or Thane Korth'azz will receive 75% damage reduction from marks</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Gothik the Harvester
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>A portal will spawn in either side of the gate that only healers can use to transport between sides</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Trainee's cast Arcane Bolt.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Death Knight's cast Empowered Shadowbolt, jumping to two additional nearby targets.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Rider cast Shadow Lance on random targets.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Horse will fixate on a random player and chase them, changing targets every 30seconds.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Maexxna
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Web wrap will not target the healer</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Loatheb
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spore will only apply Fungal Bloom to the nearest 1 player</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Patchwerk
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Hateful Strike will target any non-tank players in melee range and do 85% reduced damage. If there is no non-tank players in melee range Hateful Strike will target the tank for 100% damage</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Gluth
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Zombie Chow move at 70% reduced movement speed, stacks with other movement speed reducing debuffs</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Mortal Wound will only stack to 5stacks before dropping off</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Noth the Plaguebringer
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Each wave of adds during the platform phase is a completely random combination</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Sapphiron
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Icebolt will not be cast on healers</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Life drain will be cast on 2 players</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Healing affect of Life Drain increased by 30%</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab label="25-man">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Anub'rekhan
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>During each Locust Swarm 5 Crypt Guard Bats will join the fights</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Crypt Guard Bats will drop plague on random players</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>The Crypt Guard due to spawn during Locust Swarm will spawn at the end of the Locust Swarm</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Corpse Scarabs can spawn from Crypt Guard Bats corpses</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Grand Widow Faerlina
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>When Faerlina enrages she will also enrage one of her disciples.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>When a Disciple is enraged their health will be set back to 100% and they will cast Fireball Volley</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Killing the enraged Disciple will trigger Widows Embrace</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Killing a Disciple not enraged will cause Faerlina to enrage</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Maexxna
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>When killing a normal web wrap a Premature Spiderling with 20% HP remaining will spawn and run to Maexxna.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>If a Premature Spiderling reaches Maexxna she will gain the % of health remaining on the spiderling.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Every 25% Maexxna will cast web wrap on the healer, killing this web wrap will not spawn a Premature Spiderling</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Maexxna enrages at 25%, down from 30%</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Maexxna's enrage increases her damage by 50%, down from 75%</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Maexxna's enrage does not initially increase her haste, or scale</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Once Maexxna is enraged her haste is increased by 1% every 2 seconds, and scale by 0.14 every 2seconds</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Noth the Plaguebringer
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Throughout the fight an enraged zombie will spawn, focusing and rooting a random target. If the Zombie reaches its target it will cast corpse explosion dealing damage to all nearby players.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Heigan the Unclean
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>During normal phase clouds will spawn around the room.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>If you run into a cloud you will receive a debuff reducing movement speed by 70% that will degrade over time.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Loatheb
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Necrotic aura will now be up 100% of the time, if not removed by a Healthy Spore</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>6 Seconds after refreshing Necrotic Aura a Healthy Spore will spawn. Killing this spore will remove Necrotic Aura from anyone close to the spore.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Patchwerk
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Patchwerk will cast Grievous Throw on the target furthest away from him. The player must be healed to full to remove the debuff.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Grobbulus
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Clouds will spawn on top of Grobbulus every 10seconds, down from 15seconds</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Fallout slime will cast acid spray on the raid while it is alive.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Gluth
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>One DPS will always be affected by Flesh Rip debuff.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Zombie Chow will chase the player affected by Flesh Rip, unless affected by Decimate.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Mortal Wound stacks to a maximum of 6 stacks.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Thaddius
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Stalagg, Feugen and Thaddius will all become overloaded throughout the fight. This will cause them to crackle visually and then cast Electrical Overload.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>The damage of Electrical Overload is multiplied by the number of polarity stacks a player has.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Instructor Razuvious
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>After using an Obedience Crystal, Mind Exhaustion debuff is applied preventing use of the Obedience Crystal again until the debuff has expired.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Gothik the Harvester
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Amount of creatures per wave reduced drastically.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Living Trainee's will cast Greater Heal on the lowest nearby friendly target.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Trainees will cast Spell Shield on nearby Spectral Death Knights, or Spectral Riders. This ability will make the target immune to interrupt, silence and stun until removed.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Death Knights cast Shadow Barrage dealing critical raid damage to both sides of the room, this can be interrupted.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Riders will cast Mind Rend on the healer, stunning the healer, this can be interrupted.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Spectral Horse will charge random targets knocking them back.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Four Horseman
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Each Horseman will use Bone Armour at 50% and 20% reducing the damage they take by 75%.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>When Baron Rivendare is killed his spirit will spawn, the spirit will not attack, but continue to cast Unholy Shadow on the tank.</mat-list-item>
              <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>When Lady Blaumeux is killed her spirit will spawn, the spirit will not attack, but continue to cast Void Zone randomly on peoplek.</mat-list-item>
             </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
