<div *ngIf="isDesktop();else mobile">
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title>Paladin</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Holy
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Start with Cleanse Spirit only usable in raids and if holy spec</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  </div>
  <ng-template #mobile>
    <h1>Paladin</h1>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Holy
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Start with Cleanse Spirit only usable in raids and if holy spec</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
