<br />
<mat-card class="news-card">
  <mat-card-header>
    <mat-card-title>Website in development</mat-card-title>
    <mat-card-subtitle>Potter working hard</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4a9914e3-984d-42a7-8b8c-1e85a96ac343/d1b95mm-0d767776-a30c-4cdd-91ba-18e97552168e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNGE5OTE0ZTMtOTg0ZC00MmE3LThiOGMtMWU4NWE5NmFjMzQzXC9kMWI5NW1tLTBkNzY3Nzc2LWEzMGMtNGNkZC05MWJhLTE4ZTk3NTUyMTY4ZS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.lmC7A0ZxI3rOw8iS2Fd-uMpFK8YfGrY2D5SjHujpbyA" class="news-card-image">
  <mat-card-content>
    <p>
      We've started from scratch to create a modern website that we can develop as the project progresses. At the moment it is lacking in features but because we've
      spent the time developing using modern technologies and practices we can deliver some really cool features in the future.
    </p>
    <p>
      This will also increase the security of your data using our own developed API's to serve game data to the website and other platforms.
    </p>
    <p>
      Any feedback is welcome on features to introduce to the website and can be added to the roadmap just like server development features.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon>thumb_up</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<br />
<mat-card class="news-card">
  <mat-card-header>
    <mat-card-title>Website in development</mat-card-title>
    <mat-card-subtitle>Potter working hard</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4a9914e3-984d-42a7-8b8c-1e85a96ac343/d1b95mm-0d767776-a30c-4cdd-91ba-18e97552168e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNGE5OTE0ZTMtOTg0ZC00MmE3LThiOGMtMWU4NWE5NmFjMzQzXC9kMWI5NW1tLTBkNzY3Nzc2LWEzMGMtNGNkZC05MWJhLTE4ZTk3NTUyMTY4ZS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.lmC7A0ZxI3rOw8iS2Fd-uMpFK8YfGrY2D5SjHujpbyA" class="news-card-image">
  <mat-card-content>
    <p>
      We've started from scratch to create a modern website that we can develop as the project progresses. At the moment it is lacking in features but because we've
      spent the time developing using modern technologies and practices we can deliver some really cool features in the future.
    </p>
    <p>
      This will also increase the security of your data using our own developed API's to serve game data to the website and other platforms.
    </p>
    <p>
      Any feedback is welcome on features to introduce to the website and can be added to the roadmap just like server development features.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon>thumb_up</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
