<div *ngIf="isDesktop();else mobile">
  <br />
  <mat-card class="wiki-general-card">
    <mat-card-header>
      <mat-card-title>Eye of Eternity (10-man)</mat-card-title>
      <mat-card-subtitle>Eye of Eternity changes that have been made to the server. If boss is not listed assume the only changes are to scaling</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              General
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Players can only enter the Eye of Eternity if they have Key to the Focusing Iris in their bags</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Malygos
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Flame Spike (Dragon ability) damage doubled</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  </div>
  <ng-template #mobile>
    <h1>Eye of Eternity (10-man)</h1>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            General
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Players can only enter the Eye of Eternity if they have Key to the Focusing Iris in their bags</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Malygos
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Flame Spike (Dragon ability) damage doubled</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
