.how-to-connect-card {
  max-width: 70vw;
  margin: 0 auto;
  border: 30px;
  border-radius: 30px;
}

.connection-guide-grid {
  height: 80%;
}

.mat-card-image {
  height: auto;
  width: 32vw;
}

.no-decoration {
  text-decoration: none;
}

.macro-box {
  margin-left: 1vw;
  margin-top: 1vh;
}

p a {
  color: white;
  text-decoration: none;
}
