.home-card {
  height: 50vh;
  width: 90%;
  border: 10px;
  border-radius:60px 60px 10px 10px;
  mask-image: -webkit-gradient(linear, center bottom, center top,
  color-stop(0.00,  rgba(0,0,0,0)),
  color-stop(0.05,  rgba(0,0,0,1)));;
}

.home-tile-small >::ng-deep .mat-figure {
  align-items: initial;
  padding-top: 3vh;
}

.home-card-small {
  height:5vh;
  width:90%;
  background: linear-gradient(to left, #39bbe6 -50%, #272727);
  filter: drop-shadow(2px 4px 6px black)
}

.home-card-title {
  padding-top: 3vh;
}

.home-card-image {
  max-height: 25vh;
  height: 25vh;
  filter: drop-shadow(2px 4px 6px black);
  mask-image: -webkit-gradient(linear, center bottom, center top,
  color-stop(0.00,  rgba(0,0,0,0)),
  color-stop(0.80,  rgba(0,0,0,1)));;
}

.home-card-small-content {
  cursor: pointer;
}

.discord-logo {
  max-height: 5vh;
  vertical-align: bottom;
  filter: drop-shadow(2px 4px 6px black);
}

.home-card-small-text {
  font: 400 24px/32px Roboto;
  padding-left: 1vw;
}

.register-logo {
  max-height: 5vh;
  vertical-align: bottom;
  filter: drop-shadow(2px 4px 6px black);
}

.download-logo {
  max-height: 5vh;
  vertical-align: bottom;
  filter: drop-shadow(2px 4px 6px black);
}
