<div *ngIf="isDesktop();else mobile">
  <div style="height:10vh"></div>
  <mat-grid-list cols="6" rowHeight="1vh">
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="30">
      <mat-card-content>
        <h2>A unique 5-man raid experience!</h2>
        <p>Fight through Wrath of the Lich King's raids as a small group of friends, or make new ones in a friendly
          community.
        <p>Face new challenges with redesigned boss fights, old abilities introduced for pre-nerf fights and classes
          carefully adjusted to allow for multiple group compositions.</p>
        <p>Compete in timed PVE per tier and earn Server First achievements for your groups ability to be the best. </p>
        <br />
        <button mat-flat-button class="home-button" routerLink="/about">Find out more</button>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="30">
      <mat-card class="info-card">
        <mat-card-content>
          <mat-grid-list cols="6">
            <mat-grid-tile [colspan]="3">
              <div>
                <p><b style="color:greenyellow">{{serverStatus.online ? 'Online' : 'Offline'}} </b><small>{{serverStatus.uptime}}</small></p>
                <div>
                  <strong>{{serverStatus.onlinePlayers}} online</strong>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              <img style="height:6vh" src="../../../assets/images/3.1.png">
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div style="height:24vh"></div>
  <mat-grid-list cols="8" rowHeight="20vh" gutterSize="0.2vw">
    <mat-grid-tile [colspan]="2">
      <mat-card class="home-card-video" (click)="playVideo('BrlA2lZOTks', 'Sartharion Heroic +3 Drakes')"
        style="background-image: url('../../../assets/images/sartharion.jpg');background-size: cover;">
        <mat-card-content>
          <div class="home-card-video-content">
            <img src="../../../assets/images/youtube-play.png" class="youtube" style="opacity:75%" alt="Play video">
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-card class="home-card-video" (click)="playVideo('rmmef6k6Fd0', 'Kel`thuzad Heroic')"
        style="background-image: url('../../../assets/images/kelthuzad.jpg');background-size: cover;">
        <mat-card-content>
          <div class="home-card-video-content">
            <img src="../../../assets/images/youtube-play.png" class="youtube" style="opacity:75%" alt="Play video">
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-card class="home-card-video" (click)="playVideo('G8bhl0h1LMI', 'Malygos Heroic')"
        style="background-image: url('../../../assets/images/malygos.jpg');background-size: cover;">
        <mat-card-content>
          <div class="home-card-video-content">
            <img src="../../../assets/images/youtube-play.png" class="youtube" style="opacity:75%" alt="Play video">
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-card class="home-card-video" (click)="playVideo('IeDloiKGiHw', 'Four Horseman Heroic')"
        style="background-image: url('../../../assets/images/fourhorseman.jpg');background-size: cover;">
        <mat-card-content>
          <div class="home-card-video-content">
            <img src="../../../assets/images/youtube-play.png" class="youtube" style="opacity:75%" alt="Play video">
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="6" rowHeight="1vh" gutterSize="1vw">
    <mat-grid-tile [colspan]="6" [rowspan]="2">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="12">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="12">
      <mat-card-content>
        <img src="../../../assets/images/discord.png" class="discord-image" />
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="12">
      <mat-card-content>
        <h2>Join the community!</h2>
        <p>Join our Discord, share your story and suggestions - look for groups and discuss raid tactics</p>
        <br />
        <button mat-flat-button class="home-button" (click)="openDiscordUrl()">Discord invite</button>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" rowSpan="5"></mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="10">
      <mat-card-content>
        <h2>Start your journey!</h2>
        <p>Download the game client, create an account and begin your adventure!</p>
        <br />
        <mat-card class="info-card">
          <mat-card-content>
            <mat-grid-list cols="8">
              <mat-grid-tile [colspan]="6">
                <b>Realmlist:</b><sub style="cursor:pointer" matTooltip="Click to copy" (click)="copyRealmList()">&nbsp;{{realmList}}</sub>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2">
                <fa-icon [icon]="faWindows" size="2x" matTooltip="Download client" (click)="downloadClient()" style="cursor:pointer"></fa-icon>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
        </mat-card>
        <br />
        <mat-card-actions>
          <button *ngIf="!isLoggedIn" mat-flat-button color="accent" routerLink="/register">Create account</button><span *ngIf="!isLoggedIn">&nbsp;&nbsp;  or&nbsp;&nbsp;  </span><button mat-flat-button
          class="home-button"  routerLink="/howtoconnect">How to connect</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
  <br />
</div>
<ng-template #mobile>
  <br />
  <mat-card class="home-card mobile">
    <mat-card-header class="home-card-header">
      <mat-card-title class="home-card-title">
        <h2><b>High Rates</b></h2>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/dwarf_levelup.jpg" class="home-card-image" alt="dwarf_levelup">
    <mat-card-content>
      <dl>
        <dt>Instant 80</dt>
        <dt>Instant 375 Professions</dt>
        <dt>Instant Friendly with key Northrend reputations</dt>
        <dt>Start with Northrend reputation tabards</dt>
        <dt>Reduced Raid Lockouts</dt>
      </dl>
    </mat-card-content>
  </mat-card>
  <mat-card class="home-card mobile">
    <mat-card-header>
      <mat-card-title class="home-card-title">
        <h2><b>5-Man Content</b></h2>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/group_of_players.jpg" class="home-card-image"
      alt="group_of_players">
    <mat-card-content>
      <p>
        We're spending our time scaling and scripting every raid to be doable by 5 players. Enjoy developing your
        characters and progressing through challenging content without the hassle of large groups.
      </p>
      <p>
        25man difficulty is our idea of Challenge Mode, scaled for a challenge with additional mechanics added to
        suite the theme of the fights.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="home-card mobile">
    <mat-card-header>
      <mat-card-title class="home-card-title">
        <h2><b>Progressive</b></h2>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/ulduar_combat.jpg" class="home-card-image" alt="ulduar_combat">
    <mat-card-content>
      <p>
        We've rolled back the years, enjoy Wrath of the Lich King the way it was supposed to be. We've added
        attunements and removed the catchup mechanics of Emblems of Triumph's from heroics so you can progress from
        the start.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="home-card-small mobile">
    <mat-card-content>
      <div class="home-card-small-content" [routerLink]="['/register']">
        <img src="../../../assets/images/register-logo.png" class="logo" alt="Register">
        <span class="home-card-small-text"><b>Register</b></span>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- <mat-card class="home-card-small mobile">
        <mat-card-content>
          <div class="home-card-small-content" (click)="downloadClient()">
            <img src="../../../assets/images/download_logo.png" class="download-logo">
            <span class="home-card-small-text"><b>Download</b></span>
          </div>
        </mat-card-content>
      </mat-card> -->
  <mat-card class="home-card-small mobile">
    <mat-card-content>
      <div class="home-card-small-content" (click)="openDiscordUrl()">
        <img src="../../../assets/images/discord-logo.png" class="logo" alt="Discord">
        <span class="home-card-small-text"><b>Discord</b></span>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
</ng-template>
