<mat-drawer-container>
  <mat-drawer #drawer mode="over">
    <mat-list>
      <mat-list-item *ngIf="!isPwa()">
        <button mat-menu-item routerLink="">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="isPwa()">
        <button mat-menu-item routerLink="/account">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-menu-item routerLink="/blogs">
          <mat-icon>article</mat-icon>
          <span>Blogs</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-menu-item routerLink="/wiki">
          <mat-icon>menu_book</mat-icon>
          <span>Wiki</span>
        </button>
      </mat-list-item>
      <!-- <mat-list-item>
        <button mat-menu-item routerLink="/serverstatus">
          <mat-icon>speed</mat-icon>
          <span>Server Status</span>
        </button>
      </mat-list-item> -->
      <mat-list-item *ngIf="isDesktop()">
        <button mat-menu-item routerLink="/howtoconnect">
          <mat-icon>settings_ethernet</mat-icon>
          <span>How To Connect</span>
        </button>
      </mat-list-item>
      <!-- <mat-list-item>
        <button mat-menu-item routerLink="/discord">
          <mat-icon>question_answer</mat-icon>
          <span>Discord</span>
        </button>
      </mat-list-item> -->
      <mat-list-item *ngIf="isDesktop()">
        <button mat-menu-item routerLink="/streams">
          <mat-icon>stream</mat-icon>
          <span>Streams</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-menu-item routerLink="/latestchanges">
          <mat-icon>edit_road</mat-icon>
          <span>Lastest Changes</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="!isLoggedIn">
        <button mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="!isLoggedIn">
        <button mat-menu-item routerLink="/register">
          <mat-icon>create</mat-icon>
          <span>Register</span>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="isLoggedIn && !isPwa()">
        <button mat-menu-item routerLink="/account">
          <mat-icon>apps</mat-icon>
          <span>Account</span>
        </button>
      </mat-list-item>
      <mat-list-item  *ngIf="isLoggedIn">
        <button mat-menu-item (click)="logOut()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content (click)="closeSideMenu()">
    <div class="site-body">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
