.leaderboards-desktop-container {
  height:100vh;
}

.leaderboards-grid {
  height: 15vh;
}

.leaderboards-card {
  width: 30vw;
  border: 30px;
  border-radius: 20%;
  background: linear-gradient(to left, #39bbe6 -50%, #272727);
}

.leaderboards-image {
  align-self: flex-end;
  width: 8vw;
  height: 12vh;
}

.leaderboards-text-tile {
  margin-top: 2vh;
}

.leaderboards-header {
  font-size:1vw;
}

.leaderboards-input {
  padding-right: 0.5vw;
}
