mat-card-content {
  height: 70%;
}

mat-grid-tile {
  border-radius: 30px;
  border: 55px;
}

.twitch-streams-grid {
  height: 80%;
}

.stream-card {
  height: 100%;
  width: 100%
}

.twitch-stream {
  height: 100%;
  width: 100%;
}

.stream-offline {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  display: block;
}
