mat-card {
  max-width: 40vw;
  margin: 10vh auto;
  border: 30px;
  border-radius: 30px;
}

.unstuck-select-list {
  width: 100%;
}

mat-card-actions {
  text-align: center;
}

.unstuck-character-image {
  max-height:30vh;
  filter:opacity(0.8);
}

.unstuck-card-content {
  width:100%;
}
