<div *ngIf="isDesktop();else mobile">
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title>Priest</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Holy
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Start with Cleanse Spirit only usable in raids and if Holy spec</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Mass Dispel will remove Poison, Disease and Curses only within raids</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Holy Concentration procs will also trigger replenishment only within raids. This also has a 12 second internal cooldown.</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Discipline
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Start with Cleanse Spirit only usable in raids and if Discipline spec</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Mass Dispel will remove Poison, Disease and Curses only within raids</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Rapture will also trigger replenishment only within raids</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Shadow
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Misery debuff will also apply Curse of the Elements, only inside raids.</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  </div>
  <ng-template #mobile>
    <h1>Priest</h1>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Holy
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Start with Cleanse Spirit only usable in raids and if Holy spec</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Mass Dispel will remove Poison, Disease and Curses only within raids</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Holy Concentration procs will also trigger replenishment only within raids. This also has a 12 second internal cooldown.</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Discipline
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Start with Cleanse Spirit only usable in raids and if Discipline spec</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Mass Dispel will remove Poison, Disease and Curses only within raids</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Rapture will also trigger replenishment only within raids</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Shadow
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Misery debuff will also apply Curse of the Elements, only inside raids.</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
