<div *ngIf="isDesktop();else mobile">
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title>Hunter</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              General
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Start with Bloodlust/Heroism only usable inside raids</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Worms are not considered as exotic and can be tamed by all hunter specs. <i>This may require you to delete your cache</i></mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Casting Viper Sting in a raid will also apply Judgement of Wisdom on the victim. </mat-list-item>
           </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  </div>
  <ng-template #mobile>
    <h1>Hunter</h1>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            General
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Start with Bloodlust/Heroism only usable inside raids</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Worms are not considered as exotic and can be tamed by all hunter specs. <i>This may require you to delete your cache</i></mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Casting Viper Sting in a raid will also apply Judgement of Wisdom on the victim. </mat-list-item>
         </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
