<div *ngIf="isDesktop();else mobile">
<mat-card>
  <mat-card-header>
    <mat-card-title>Gold</mat-card-title>
    <mat-card-subtitle>Once purchased you will be sent the gold via in-game mail.</mat-card-subtitle>
  </mat-card-header>
  <mat-grid-list cols="2" rowHeight="35vh" gutterSize="1vw">
    <mat-grid-tile>
      <img src="../../../../assets/images/gold.jpg" class="gold-image">
    </mat-grid-tile>
    <mat-grid-tile>
      <section class="gold-card-content">
        <div>
          <mat-card-content>
            <mat-form-field appearance="fill" class="gold-select-list">
              <mat-label>Select a character</mat-label>
              <mat-select [(value)]="selectedCharacter">
                <mat-option *ngFor="let character of userProfile?.characters" [value]="character">{{character.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field  class="gold-select-list">
              <mat-label>Amount</mat-label>
              <input [(ngModel)]="goldAmount" type="number" matInput placeholder="1000">
              <span matSuffix>g</span>
            </mat-form-field>
          </mat-card-content>
        </div>
        <div>
          <mat-card-actions>
            <button mat-flat-button class="gold-button" color="accent" (click)="Purchase()">{{getFormattedTotal()}}</button>
          </mat-card-actions>
        </div>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
</div>
<ng-template #mobile>
    <mat-card class="mobile">
      <mat-card-header class="mobile">
        <mat-card-title>Gold</mat-card-title>
      </mat-card-header>
          <section class="gold-card-content">
              <mat-card-content>
                <mat-form-field appearance="fill" class="gold-select-list">
                  <mat-label>Select a character</mat-label>
                  <mat-select [(value)]="selectedCharacter">
                    <mat-option *ngFor="let character of userProfile?.characters" [value]="character">{{character.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field  class="gold-select-list">
                  <mat-label>Amount</mat-label>
                  <input [(ngModel)]="goldAmount" type="number" matInput placeholder="1000">
                  <span matSuffix>g</span>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button mat-flat-button class="gold-button" color="accent" (click)="Purchase()">{{getFormattedTotal()}}</button>
              </mat-card-actions>
          </section>
    </mat-card>
</ng-template>
