<!-- <toolbar></toolbar>
<side-menu></side-menu> -->
<ul>
  <li>
    <a href="https://tbc5man.com/">TBC5Man</a>
  </li>
  <li>
    <a href="https://northrend.gg/en/">Northrend</a>
  </li>
  <li>
    <a href="https://wowportal.net/">Wowportal</a>
  </li>

  <li>
    <a href="https://dev.azure.com/aidancole0899/Looking%20For%20Raid/_git/LFRApi">Web APIs</a>
  </li>
  <li>
    <a href="https://github.com/a1dancole/LFRWeb">Web Front</a>
  </li>
  <li>
    <a href="https://dev.azure.com/aidancole0899/Looking%20For%20Raid/_git/LFRCore">Core</a>
  </li>

</ul>



