mat-card {
  max-width: 40vw;
  margin: 10vh auto;
  border: 30px;
  border-radius: 30px;
}

mat-card.mobile {
  max-width: 90vw;
  border: 10px;
  border-radius: 10px;
}

mat-card-actions {
  text-align: center;
}

mat-form-field {
  display: block;
}

.change-password-form {
  width:100%;
}

.change-password-image {
  max-height:30vh;
  filter:opacity(0.8);
}

.change-password-button {
  width: 100%;
}

