<div *ngIf="isDesktop();else mobile">
<mat-card>
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
    <mat-card-subtitle>Create an account to start playing</mat-card-subtitle>
    <mat-icon class="icon-right" (click)="openEncryptionInformationDialog()" matTooltip="Understand how we store your credentials">help</mat-icon>
  </mat-card-header>
<mat-grid-list cols="2" rowHeight="40vh" gutterSize="1vw">
  <mat-grid-tile>
    <img src="../../../../assets/images/registration_image.png" class="register-image">
  </mat-grid-tile>
  <mat-grid-tile>
    <form [formGroup]="form" (ngSubmit)="register()" class="register-form">
      <mat-card-content>
          <br />
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="userName" required placeholder="pottermage">
            <mat-error>Username is <strong>required</strong></mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" required>
            <mat-error>Password is <strong>required</strong></mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" required>
            <mat-error>Password is <strong>required</strong></mat-error>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button class="register-form-button" mat-flat-button color="accent" [disabled]="registering">
          Register
        </button>
        <br />
        <p class="register-form-button-smalltext"><small>Realmlist: login.lookingforraid.co.uk</small></p>
      </mat-card-actions>
    </form>
  </mat-grid-tile>
</mat-grid-list>
</mat-card>
</div>
<ng-template #mobile>
      <form [formGroup]="form" (ngSubmit)="register()" class="register-form">
<mat-card class="mobile">
  <mat-card-content>
    <mat-card-header class="mobile">
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="userName" required placeholder="pottermage">
        <mat-error>Username is <strong>required</strong></mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" required>
        <mat-error>Password is <strong>required</strong></mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword" required>
        <mat-error>Password is <strong>required</strong></mat-error>
      </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button class="register-form-button" mat-flat-button color="accent" [disabled]="registering">
      Register
    </button>
  </mat-card-actions>
</mat-card>

</form>
</ng-template>
