mat-card {
  max-width: 40vw;
  margin: 10vh auto;
  border: 30px;
  border-radius: 30px;
}

mat-card-actions {
  text-align: center;
}

mat-form-field {
  display: block;
}

.icon-right {
  margin-left: auto;
}
