mat-card {
  max-width: 40vw;
  margin: 10vh auto;
  border: 30px;
  border-radius: 30px;
}

mat-card-actions {
  text-align: center;
}

mat-form-field {
  display: block;
}

.icon-right {
  margin-left: auto;
}

.register-form {
  width:100%;
}

.register-image {
  max-height:30vh;
  filter:opacity(0.8);
}
