.discord-card {
  max-width: 70vw;
  margin: 0 auto;
  border: 30px;
  border-radius: 30px;
}

iframe.discord-chat-frame {
  width:100%;
  height:70vh;
  margin-top:0.5vh;
  border: none;
}

a.join-server-button {
  margin-left:1vw;
}
