<div *ngIf="isDesktop();else mobile">
  <br />
  <mat-card class="wiki-general-card">
    <mat-card-header>
      <mat-card-title>General</mat-card-title>
      <mat-card-subtitle>General changes that have been made to the server</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Loot
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Tokens will drop only for classes within the group</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Emblems of Heroism drop from heroic dungeons and 10man raids</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Emblems of Triumph drop from 25man raids</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Addons
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Gearscore addon is disabled</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              World Channel
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>There is a world channel, use /join world to join it</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              In-game Tickets
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>In-game tickets are disabled. For any support please contact the team via Discord</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Raids
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Entering a raid instance will remove all non-persistant buffs</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Leaving a raid instance will remove all non-persistant buffs from anyone inside that instance</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>The maximum amount of players inside a raid is limited to 5 players</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Raid resets are halved</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Dungeon & Raid quests
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Dungeon dailies can be obtained from Archmage Timear outside Violet Hold in Dalaran</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Dungeon dailies reward Emblem of Heroism</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Raid weeklies can be obtained from Archmage Timear outside Violet Hold in Dalaran</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Raid weeklies reward Emblem of Triumph</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Looking For Group
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Looking For Group is disabled</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Group Quests
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Group quests can also be completed within raid groups</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Guild Charters
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Guild characters do not require signatures to be handed in</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Reagents
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>All buff reagents stack to 100</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Professions General
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Profession vendors in Dalaran will sell items required to craft goods (Arcanite Spanners, Alchemist Stones etc...)</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Tailoring
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Cooldown of Ebonweave is 2days (relog to show this in your UI)</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Cooldown of Moonshroud is 2days (relog to show this in your UI)</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Cooldown of Spellweave is 2days (relog to show this in your UI)</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Mining
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Cooldown on Smelt Titansteel is 20hours (relog to show this in your UI)</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Alchemy
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Cooldown on TransmuteL Titanium is 20hours (relog to show this in your UI)</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Corpse Running
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Movement increased 3x while corpse running (except flying)</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Movement increased 4x while corpse running as a night elf (except flying)</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Ressurect Sickness
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Ressurecting at a spirit healer will not result in Res Sickness, you will still receive a durability loss.</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Auction House
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>There are auction house bots that post random raw trade materials. The AH bots do not post gear, crafted items or crafted trade goods.</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Item: Call Filch
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Call Filch can be obtained from the store</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>The item remains in your bags for 30days</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Call Filch will spawn Filch for 30seconds who acts as an Auctioneer, Banker, Mailbox and Stables Master.</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Call Filch will not spawn Filch if there is another Filch within 30yards</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Filch can also be used to ressurect a raid and summon a raid group</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Using summon group inside a instance will summon anyone not in that instance outside the instance portal, it will not summon people inside the instance already</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Using summon group in the open world will summon your group to you</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  </div>
  <ng-template #mobile>
    <h1>General</h1>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Addons
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Gearscore addon is disabled</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Loot
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Tokens will drop only for classes within the group</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Emblems of Heroism drop from heroic dungeons and 10man raids</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Emblems of Triumph drop from 25man raids</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            World Channel
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>There is a world channel, use /join world to join it</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            In-game Tickets
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>In-game tickets are disabled. For any support please contact the team via Discord</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Raids
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Entering a raid instance will remove all non-persistant buffs</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Leaving a raid instance will remove all non-persistant buffs from anyone inside that instance</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>The maximum amount of players inside a raid is limited to 5 players</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Raid resets are halved</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Dungeon & Raid quests
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Dungeon dailies can be obtained from Archmage Timear outside Violet Hold in Dalaran</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Dungeon dailies reward Emblem of Heroism</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Raid weeklies can be obtained from Archmage Timear outside Violet Hold in Dalaran</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Raid weeklies reward Emblem of Triumph</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Looking For Group
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Looking For Group is disabled</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Group Quests
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Group quests can also be completed within raid groups</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Guild Charters
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Guild characters do not require signatures to be handed in</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Reagents
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>All buff reagents stack to 100</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Professions General
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Profession vendors in Dalaran will sell items required to craft goods (Arcanite Spanners, Alchemist Stones etc...)</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Tailoring
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Cooldown of Ebonweave is 2days (relog to show this in your UI)</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Cooldown of Moonshroud is 2days (relog to show this in your UI)</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Cooldown of Spellweave is 2days (relog to show this in your UI)</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Mining
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Cooldown on Smelt Titansteel is 20hours (relog to show this in your UI)</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Alchemy
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Cooldown on TransmuteL Titanium is 20hours (relog to show this in your UI)</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Corpse Running
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Movement increased 3x while corpse running (except flying)</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Movement increased 4x while corpse running as a night elf (except flying)</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Ressurect Sickness
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Ressurecting at a spirit healer will not result in Res Sickness, you will still receive a durability loss.</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Auction House
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>There are auction house bots that post random raw trade materials. The AH bots do not post gear, crafted items or crafted trade goods.</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Item: Call Filch
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Call Filch can be obtained from the store</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>The item remains in your bags for 30days</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Call Filch will spawn Filch for 30seconds who acts as an Auctioneer, Banker, Mailbox and Stables Master.</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Call Filch will not spawn Filch if there is another Filch within 30yards</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Filch can also be used to ressurect a raid and summon a raid group</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Using summon group inside a instance will summon anyone not in that instance outside the instance portal, it will not summon people inside the instance already</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Using summon group in the open world will summon your group to you</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
