.account-dashboard-grid {
  height: 80%;
}

.account-dashboard-card {
  height: 30vh;
  width: 20vw;
  border: 30px;
  border-radius: 30px;
  cursor: pointer;
}

.account-dashboard-image {
  mask-image: -webkit-gradient(linear, center bottom, center top,
  color-stop(0.00,  rgba(0,0,0,0)),
  color-stop(1,  rgba(0,0,0,1)));;
}

.account-dashboard-card.disabled {
  filter:grayscale(1);
}
