
<br />
<br />
<mat-grid-list cols="3" rowHeight="fit" class="account-dashboard-grid" gutterSize="3%">
  <mat-grid-tile>
    <mat-card matRipple class="account-dashboard-card" (click)="navigateToChangePassword()">
      <mat-card-header>
        <mat-card-title>Change Password</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/change_password.jpg" class="blog-card-image">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card matRipple class="account-dashboard-card" (click)="navigateToUnstuck()">
      <mat-card-header>
        <mat-card-title>Character Unstuck</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/character_unstuck.jpg" class="blog-card-image">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card matRipple class="account-dashboard-card">
      <mat-card-header>
        <mat-card-title>Faction Change</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/faction_change.jpg" class="blog-card-image">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card matRipple class="account-dashboard-card">
      <mat-card-header>
        <mat-card-title>Name Change</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/name_change.jpg" class="blog-card-image">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card matRipple class="account-dashboard-card">
      <mat-card-header>
        <mat-card-title>Race Change</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/race_change.jpg" class="blog-card-image">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card matRipple class="account-dashboard-card">
      <mat-card-header>
        <mat-card-title>Store</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/store.jpg" class="blog-card-image">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
