<div *ngIf="isDesktop();else mobile" class="account-dashboard-desktop-container">
  <br />
  <br />
  <mat-grid-list cols="3" rowHeight="fit" class="account-dashboard-grid" gutterSize="3%">
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card" (click)="navigateToChangePassword()">
        <mat-card-header>
          <mat-card-title>Change Password</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/change_password.jpg" class="account-dashboard-image">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card" (click)="navigateToUnstuck()">
        <mat-card-header>
          <mat-card-title>Character Unstuck</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/character_unstuck.jpg" class="account-dashboard-image">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card" [routerLink]="['/store']">
        <mat-card-header>
          <mat-card-title>Store</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/store.jpg" class="account-dashboard-image">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card" [routerLink]="['/account/gold']">
        <mat-card-header>
          <mat-card-title>Gold</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/gold.jpg" class="account-dashboard-image">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card" [routerLink]="['/account/changefaction']">
        <mat-card-header>
          <mat-card-title>Faction Change</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/faction_change.jpg" class="account-dashboard-image">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card" [routerLink]="['/account/changename']">
        <mat-card-header>
          <mat-card-title>Name Change</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/name_change.jpg" class="account-dashboard-image">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card" [routerLink]="['/account/changerace']">
        <mat-card-header>
          <mat-card-title>Race Change</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/race_change.jpg" class="account-dashboard-image">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!-- MOBILE -->
<ng-template #mobile>
  <br />
  <mat-grid-list cols="1" rowHeight="20vh" class="account-dashboard-grid mobile" gutterSize="1vh">
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card mobile" (click)="navigateToChangePassword()">
      <mat-grid-list cols="3" rowHeight="20vh" gutterSize="1vw">
        <mat-grid-tile colspan="2">
          <img mat-card-image src="../../../assets/images/change_password.jpg" class="account-dashboard-image mobile">
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <h3><b>Change Password</b></h3>
        </mat-grid-tile>
      </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card mobile" (click)="navigateToUnstuck()">
        <mat-grid-list cols="3" rowHeight="20vh" gutterSize="1vw">
          <mat-grid-tile colspan="2">
            <img mat-card-image src="../../../assets/images/character_unstuck.jpg" class="account-dashboard-image mobile">
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <h3><b>Character Unstuck</b></h3>
          </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card mobile" [routerLink]="['/store']">
        <mat-grid-list cols="3" rowHeight="20vh" gutterSize="1vw">
          <mat-grid-tile colspan="2">
            <img mat-card-image src="../../../assets/images/store.jpg" class="account-dashboard-image mobile">
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <h3><b>Store</b></h3>
          </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card mobile" [routerLink]="['/account/gold']">
        <mat-grid-list cols="3" rowHeight="20vh" gutterSize="1vw">
          <mat-grid-tile colspan="2">
            <img mat-card-image src="../../../assets/images/gold.jpg" class="account-dashboard-image mobile gold">
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <h3><b>Gold</b></h3>
          </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card mobile" [routerLink]="['/account/changefaction']">
        <mat-grid-list cols="3" rowHeight="20vh" gutterSize="1vw">
          <mat-grid-tile colspan="2">
            <img mat-card-image src="../../../assets/images/faction_change.jpg" class="account-dashboard-image mobile gold">
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <h3><b>Faction Change</b></h3>
          </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card mobile" [routerLink]="['/account/changename']">
        <mat-grid-list cols="3" rowHeight="20vh" gutterSize="1vw">
          <mat-grid-tile colspan="2">
            <img mat-card-image src="../../../assets/images/name_change.jpg" class="account-dashboard-image mobile">
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <h3><b>Name Change</b></h3>
          </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card matRipple class="account-dashboard-card mobile" [routerLink]="['/account/changerace']">
        <mat-grid-list cols="3" rowHeight="20vh" gutterSize="1vw">
          <mat-grid-tile colspan="2">
            <img mat-card-image src="../../../assets/images/race_change.jpg" class="account-dashboard-image mobile">
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <h3><b>Race Change</b></h3>
          </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <br />
</ng-template>
