<div *ngIf="isDesktop();else mobile">
<br />
<mat-card class="changes-card">
  <mat-card-header>
    <mat-card-title>Latest Changes</mat-card-title>
    <mat-card-subtitle>All details on what our developers are currently working on or have coming up can be found <a class="no-decoration" target="_blank" href="https://trello.com/b/X7CLHLQQ">here</a></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <mat-list-item *ngFor="let card of releasedCards"><mat-icon matListIcon>control_point</mat-icon><a matLine [href]="card.shortUrl" target="_blank" >{{card.name}}</a></mat-list-item>
   </mat-nav-list>
  </mat-card-content>
</mat-card>
</div>
<ng-template #mobile>
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title>Latest Changes</mat-card-title>
    </mat-card-header>
    <mat-nav-list>
      <mat-list-item *ngFor="let card of releasedCards"><mat-icon matListIcon>control_point</mat-icon><a matLine [href]="card.shortUrl" target="_blank" >{{card.name}}</a></mat-list-item>
   </mat-nav-list>
  </mat-card>
</ng-template>
