<div *ngIf="isDesktop();else mobile">
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title>Warlock</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              General
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Soul Shards stack to 30 and you can hold a maximum of 1024 Soul Shards</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Soul Shards have a 20% chance to be created from all ticks of Drain Soul regardless if the target is killed or not</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Start with ability Raise Ally, only usable inside raids</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Casting Raise Ally will revive the player with 6400 health and 4700 mana</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Casting Raise Ally will debuff the raid with Ghostly</mat-list-item>
            <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Can not cast Raise Ally if you have Ghostly debuff</mat-list-item>
           </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  </div>
  <ng-template #mobile>
    <h1>Warlock</h1>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            General
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Soul Shards stack to 30 and you can hold a maximum of 1024 Soul Shards</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Soul Shards have a 20% chance to be created from all ticks of Drain Soul regardless if the target is killed or not</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Start with ability Raise Ally, only usable inside raids</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Casting Raise Ally will revive the player with 6400 health and 4700 mana</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Casting Raise Ally will debuff the raid with Ghostly</mat-list-item>
          <mat-list-item><mat-icon matListIcon>horizontal_rule</mat-icon>Can not cast Raise Ally if you have Ghostly debuff</mat-list-item>
         </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
