.blog-card {
  max-width: 70vw;
  margin: 0 auto;
  border: 30px;
  border-radius: 30px;
}

.blog-card.mobile {
  max-width:90vw;
  max-height: 40vh;
  overflow: scroll;
  border: 0px;
  border-radius: 10px;
  margin-top: 3vh;
}

.mat-card.mobile:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,1),
              0 1px 1px 0 rgba(0,0,0,1),
              0 1px 3px 0 rgba(0,0,0,1);
}

.blog-card-image {
  filter:opacity(0.8);
}
