<br />
<mat-card class="blog-card">
  <mat-card-header>
    <mat-card-title>First week of development</mat-card-title>
    <mat-card-subtitle>Potter working hard</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://images.prismic.io/stemvillage/75377003da034473fa8d40d7caacf3f8b471463c_zany-jadraque-571205-unsplash.jpg?auto=compress,format" class="blog-card-image">
  <mat-card-content>
    <p>
      The first week of development has come to a close. Although we've not made huge progressin terms of the 5man concept we've managed to put a lot of the core systems in place.
    </p>
    <p>
      The website has been the main focus after many problems with the CMS's already out there just not being maintained enough to be up to date and following modern development practices. We've built this website from the ground up using modern web technologies and API's, it's basic at the moment but as LFR progresses more time will be invested into the website to add common functionality.
    </p>
    <p>
      We've also added feedback loops through discord and into trello to allow us to easily capture suggestions and bugs from discord but manage them as a project team in project management tooling. We've also extended this tooling to players by allowing them to vote and comment on features to drive the development team on what the most in demand features are, this is a core system and will be the heart of our interactions with our players.
    </p>
    <p>
      Finally core development has started at the back end of the week with a focus on key systems that will be in place throughout the project such as, the handling of loot, the 5man raid system and crucial mechanics inside raids.
    </p>
    <p>
      Next week the focus will remain on the core and the core systems, maybe at the end of the week some fight mechanics.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon>thumb_up</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<br />
